<div id="faxian">
	<!-- 内容 -->
	<div class="content">
		<div class="cont-box">
			<div class="c-box">
				<div class="img">
					<img src="images/pyq.png" alt="">
				</div>
				<p>
					朋友圈
				</p>
				<span class="iconfont">
					&#xe60a;
				</span>
				<div class="newP">
					<img src="images/touxiang.png" alt="">
				</div>
			</div>
		</div>
		<div class="cont-box">
			<div class="c-box btmxian">
				<div class="img">
					<img src="images/sao.png" alt="">
				</div>
				<p>
					扫一扫
				</p>
				<span class="iconfont">
					&#xe60a;
				</span>
			</div>
			<div class="c-box">
				<div class="img">
					<img src="images/yao.png" alt="">
				</div>
				<p>
					摇一摇
				</p>
				<span class="iconfont">
					&#xe60a;
				</span>
			</div>
		</div>
		<div class="cont-box">
			<div class="c-box btmxian">
				<div class="img">
					<img src="images/gzh.png" alt="">
				</div>
				<p>
					附近的人
				</p>
				<span class="iconfont">
					&#xe60a;
				</span>
			</div>
			<div class="c-box">
				<div class="img">
					<img src="images/piao.png" alt="">
				</div>
				<p>
					漂流瓶
				</p>
				<span class="iconfont">
					&#xe60a;
				</span>
			</div>
		</div>
		<div class="cont-box">
			<div class="c-box btmxian">
				<div class="img">
					<img src="images/shop.png" alt="">
				</div>
				<p>
					购物
				</p>
				<span class="iconfont">
					&#xe60a;
				</span>
			</div>
			<div class="c-box">
				<div class="img">
					<img src="images/youxi.png" alt="">
				</div>
				<p>
					游戏
				</p>
				<span class="iconfont">
					&#xe60a;
				</span>
			</div>
		</div>
	</div>
</div>
