
<!-- 内容 -->
	<div class="personal" id="me">
		<div class="mychat">
			<div class="touxiang">
				<img src="images/touxiang.png" alt="">
			</div>
			<div class="name">
				<p>
					心的另一半
				</p>
				<p>
					微信号:wangxufeigogo
				</p>
			</div>
			<div class="extra">
				<span class="iconfont">
					&#xe603;
				</span>
				<span class="iconfont">
					&#xe60a;
				</span>
			</div>
		</div>
		<div class="cont-box">
			<div class="c-box btmxian">
				<div class="img">
					<img src="images/pyq.png" alt="">
				</div>
				<p>
					相册
				</p>
				<span class="iconfont">
					&#xe60a;
				</span>
			</div>
			<div class="c-box btmxian">
				<div class="img">
					<img src="images/6-1.png" alt="">
				</div>
				<p>
					收藏
				</p>
				<span class="iconfont">
					&#xe60a;
				</span>
			</div>
			<div class="c-box btmxian">
				<div class="img">
					<img src="images/6-2.png" alt="">
				</div>
				<p>
					钱包
				</p>
				<span class="iconfont">
					&#xe60a;
				</span>
			</div>
			<div class="c-box">
				<div class="img">
					<img src="images/6-3.png" alt="">
				</div>
				<p>
					优惠券
				</p>
				<span class="iconfont">
					&#xe60a;
				</span>
			</div>
		</div>
		<div class="cont-box btmxian">
			<div class="c-box">
				<div class="img">
					<img src="images/6-4.png" alt="">
				</div>
				<p>
					表情
				</p>
				<span class="iconfont">
					&#xe60a;
				</span>
			</div>
		</div>
		<div class="cont-box btmxian">
			<div class="c-box">
				<div class="img">
					<img src="images/6-6.png" alt="">
				</div>
				<p>
					设置
				</p>
				<span class="iconfont">
					&#xe60a;
				</span>
			</div>
		</div>
	</div>