
<!-- 内容 -->
	<div class="personal" id="me">
		<div class="mychat">
			<div class="touxiang">
				<img src="images/touxiang.png" alt="">
			</div>
			<div class="name">
				<p>
					心的另一半
				</p>
				<p>
					微信号:wangxufeigogo
				</p>
			</div>
			<div class="extra">
				<span class="iconfont">
					&#xe603;
				</span>
				<span class="iconfont">
					&#xe60a;
				</span>
			</div>
		</div>
		<div class="cont-box">
			<div class="c-box btmxian">
				<div class="img">
					<img src="images/pyq.png" alt="">
				</div>
				<p>
					朋友圈
				</p>
				<span class="iconfont">
					&#xe60a;
				</span>
			</div>
			<div class="c-box">
				<div class="img">
					<img src="images/pyq.png" alt="">
				</div>
				<p>
					朋友圈
				</p>
				<span class="iconfont">
					&#xe60a;
				</span>
			</div>
		</div>
		<div class="cont-box">
			<div class="c-box btmxian">
				<div class="img">
					<img src="images/pyq.png" alt="">
				</div>
				<p>
					朋友圈
				</p>
				<span class="iconfont">
					&#xe60a;
				</span>
			</div>
			<div class="c-box btmxian">
				<div class="img">
					<img src="images/pyq.png" alt="">
				</div>
				<p>
					朋友圈
				</p>
				<span class="iconfont">
					&#xe60a;
				</span>
			</div>
			<div class="c-box">
				<div class="img">
					<img src="images/pyq.png" alt="">
				</div>
				<p>
					朋友圈
				</p>
				<span class="iconfont">
					&#xe60a;
				</span>
			</div>
		</div>
	</div>