<div id="tongxunlu">
	<!-- 搜索框 -->
	<div class="search">
		<form action="" id="search1">
			<span class="iconfont">
				&#xe600;
				搜索
			</span>
			<span class="iconfont">
				&#xe60b;
			</span>
		</form>
	</div>
	<!-- 内容 -->
	<div class="tag">
		<div class="txbox">
			<div class="img">
				<img src="images/tag1.png" alt="">
			</div>
			<div class="name">
				新的朋友
			</div>
		</div>
		<div class="txbox">
			<div class="img">
				<img src="images/tag2.png" alt="">
			</div>
			<div class="name">
				群聊
			</div>
		</div>
		<div class="txbox">
			<div class="img">
				<img src="images/tag3.png" alt="">
			</div>
			<div class="name">
				标签
			</div>
		</div>
		<div class="txbox">
			<div class="img">
				<img src="images/tag4.png" alt="">
			</div>
			<div class="name">
				公众号
			</div>
		</div>
	</div>
	<wxf-list></wxf-list>
</div>
