	<footer class="foot">
		<a class="select" ng-click="title='微信'" ng-class="{on:title=='微信'}" href="#/weixin">
			<span class="iconfont">
				&#xe607;
			</span>
			<span class="txt">
				微信
			</span>
		</a>
		<a class="select" ng-click="title='通讯录'" ng-class="{on:title=='通讯录'}" href="#/tongxunlu">
			<span class="iconfont">
				&#xe60c;
			</span>
			<span class="txt">
				通讯录
			</span>
		</a>
		<a class="select" ng-click="title='发现'" ng-class="{on:title=='发现'}" href="#/faxian">
			<span class="iconfont">
				&#xe60d;
			</span>
			<span class="txt">
				发现
			</span>
		</a>
		<a class="select" ng-click="title='我'" ng-class="{on:title=='我'}" href="#/me">
			<span class="iconfont">
				&#xe608;
			</span>
			<span class="txt">
				我
			</span>
		</a>
	</footer>